## OS & editor
*.log
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.nova
/.zed
/.phpunit.cache

## Node
node_modules/
npm-debug.log
yarn-error.log

## Composer
vendor/

## Laravel
bootstrap/compiled.php
app/storage/
public/storage
public/hot
public/build
storage/*.key
/.vagrant
.phpunit.result.cache

## Alternative public path
public_html/storage
public_html/hot

## Environment & auth
.env
.env.backup
.env.production
.phpactor.json
auth.json

## Homestead
Homestead.yaml
Homestead.json

## Project-specific
storage/pail
storage/firebase-credentials.json
